<div class="header">
  <h1>MovieMix</h1>
  <h3>Craft Your Cinematic Universe</h3>
</div>

<div class="container mt-5">
  <div class="cards">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
          <p><%= link_to list.name, list_path(list), class: "text-decoratio-none text-white" %></p>
        </div>
    <% end %>
  </div>
</div>
