.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 71.5%;
  width: 100%;
}

.form {
  width: 30%;
}

.form-btn {
  width: 100%;
  text-align: left;
  padding-left: 10px;
  border: none;
}

.add-list-btn {
  padding-left: 0;
  font-size: 14px;

  li {
  list-style: none;
  }
}
