@media(max-width: 430px) {
  // Header
  .header {
    height: 35vh;

    h1 {
      font-size: 65px;
    }

    h3 {
      font-size: 15px;
    }
  }

  // List display
  .phone-list {
    display: block;
  }

  .pc-lists {
    display: none;
  }

  // forms
  .form {
    width: 90%;

    input {
      border-radius: 5px;
    }
  }

  //Cards
  .card-category {
    width: 250px;
    height: 393px;
    margin-right: 10px;
  }

  .card-trip-infos p{
    font-size: 15px;
  }
  // navbar
  .nav-item.dropdown .avatar{
    display: none;
  }

  .nav-item.dropdown .log-out{
    display: block;
    text-decoration: none;
    background: none;
    border: 0;

    a {
      color: #8C8C8C;
      padding: 0 0 1rem 0;
    }
  }


}
